#box {
    width: 500px;
    height: auto;
}

.box-text {
    color: grey;

}

div#box > p {
    font-style: italic;
}

.simple {
    color: black;
}
div#box > p > span {
    color: lawngreen;
}